.message {
  margin: auto;
  width: 78vw;
  height: 78vh;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 8%;
}

.message h1,h2 {
  margin: 0;
}

.quotes-section {
  margin: auto;
  width: 100%;
  height: 75vh;
  border-radius: 8px;

  background: rgb(70, 70, 70);
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url("./images/photo-1519751138087-5bf79df62d5b.avif");
  background-repeat: no-repeat;
  background-size: cover;

  font-family:'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  color: bisque;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes-section h2 {
  width: 50%;
}
