.quotes-section {
  margin: auto;
  width: 80%;
  height: 75vh;
  border-radius: 8px;
  
  background-repeat: no-repeat;
  background-size: cover;

  font-family:'Helvetica Neue', sans-serif;
  font-size: 1.75rem;
  color: rgb(220, 220, 220);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes-section h2 {
  width: 70%;
}
